h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, table, td, dl, dt, dd, footer {
  font-family: 'Open Sans',"proxima-nova", "Proxima Nova", "Helvetica Neue", sans-serif;
}

img {
  margin: 0 auto;
  display: block;
}

.book .book-body .page-wrapper .page-inner section.normal h2 {
  margin-top: 2em;
}

.book .book-body .page-wrapper .page-inner section.normal .quiet {
  color: #aaa;
}

.book .book-body .page-wrapper .page-inner section.normal .quiet a {
  color: #aaa;
  text-decoration: underline;
}

.book .book-body .page-wrapper .page-inner section.normal img {
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 0 0 15px rgba(0,0,0,0.05);
}

.book .book-body .page-wrapper .page-inner section.normal .small img {
  max-width: 100%;
  width: 600px;
}

.book .book-body .page-wrapper .page-inner section.normal .plain, .book .book-body .page-wrapper .page-inner section.normal .plain img {
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.book .book-body .page-wrapper .page-inner section.normal pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.book .book-body .page-wrapper .page-inner section.normal pre>code {
  font-size: 100%;
}

.book .book-body .page-wrapper .page-inner section.normal .welcome-block {
  min-height: 200px;
  text-align: center;
}

.book .book-body .page-wrapper .page-inner section.normal .welcome-block .hero-content {
  padding-top: 50px;
}

.book .book-body .page-wrapper .page-inner section.normal .welcome-block .hero-content h1 {
  color: #333;
  margin: 0 10%;
  text-align: center;
  border-bottom: none;
}

.book .book-body .page-wrapper .page-inner section.normal .welcome-block .hero-content h2 {
  border-bottom: none;
  margin-top: 0;
}

.book .book-body .page-wrapper .page-inner section.normal .welcome-block .btn {
  border: none;
  color: #fff;
  background-color: #009ddc;
  display: inline-block;
  margin: 1em 0;
  padding: 0.5em 2em;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  border-radius: 500px;
  margin-bottom: 50px;
}

.book .book-body .page-wrapper .page-inner section.normal .btn {
  border: none;
  color: #fff;
  background-color: #009ddc;
  display: inline-block;
  margin: 1em 0;
  padding: 1em 0;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  //text-transform: uppercase;
  white-space: wrap;
  border-radius: 5px;
  margin-bottom: 50px;
  width: 100%;
}

.book .book-body .page-wrapper .page-inner section.normal table .icon {
  text-align: center;
}

/* ---- */

[href="https://www.gitbook.com/book/kumu/docs"],
.book .book-header h1,
.book .book-header .toggle-search,
.book .book-header .font-settings,
.book .book-header #font-settings-wrapper {
  display: none !important;
}

/* search always visible for us */
.book .book-summary ul.summary {
  top: 0 !important;
  padding-top: 55px !important;
}

.book .book-summary ul.summary li.divider {
  display: none !important;
}

.book .book-summary .book-search {
  z-index: 1;
  top: 0;
  padding: 12px 15px;
  color: #fff;
  background-color: #2d3134;
  opacity: 0.95;
}

.book .book-summary .book-search input,
.book .book-summary .book-search input:focus,
.book .book-summary .book-search input:hover {
  padding: 3px 20px;
  background: none;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 50px;
}

.summary > .chapter {
  margin: 1em 0 2em;
}

.chapter b {
  font-size: 0.8em;
}

.book .book-summary {
  color: #777;
  background: #2d3134;
}

.book .book-summary ul.summary li a,
.book .book-summary ul.summary li span {
  padding: 5px 15px;
  color: #C8D1D5;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.book .book-summary ul.summary li.done > a {
  color: #777;
  font-weight: bold;
}

.book .book-summary ul.summary li.active > a,
.book .book-summary ul.summary li a:hover {
  color: #0099e5;
}

.book .book-summary ul.summary li i.fa-check {
  color: inherit;
}


/* force anchors to always be visible */
a.plugin-anchor {
  display: inline-block !important;
  position: relative;
  float: right;
  margin: 0;
  padding: 0 10px;
  line-height: 1em;
  color: #ccc !important;
}

a.plugin-anchor:hover,
a.plugin-anchor:active {
  color: inherit !important;
}

a.plugin-anchor span {
  margin: 0;
}

/* property table */

table.property-table {
  width: 100%;
}

.property-table tr td {
  width: 25%;
}

.property-table td:first-child {
  text-align: left;
}

.property-table td {
  text-align: center;
}

/* keystrokes */

.shortcuts {
    margin: 0;
    padding: 0;
    list-style: none;
}

.shortcut {
  margin-bottom: 3px;
}

.shortcut .keystroke {
    display: inline-block;
    padding: 3px 5px;
    color: #fff;
    background-color: #444;
    border-radius: 3px;
    font-family: courier;
    text-transform: uppercase;
  }

/* tooltips */

.tooltip {
  font-size: 14px;
}

.tooltip-inner {
  max-width: 200px;
  padding: 6px 10px;
  color: #ffffff;
  text-align: center;
  background-color: #000000;
  border-radius: 4px;
}

.tooltip code {
  color: #BA462F !important;
}

/* Github edit links */

.edit-link {
  float: right;
  font-size: 14px;
}

.book .book-body .page-wrapper .page-inner section.normal .edit-link a {
  color: #bbb;
}

/* Color scales */

.color-scale table td, .color-scale table tr {
  border: none !important;
}

.book .book-body .page-wrapper .page-inner section.normal .color-scale table tr:nth-child(2n) {
  background-color:#fff;
}

.book .book-body .page-wrapper .page-inner section.normal .color-scale table .spacer td {
  padding: 0;
}

.book .book-body .page-wrapper .page-inner section.normal .color-scale table td {
  padding:8px 9px;
}

.color-scale td:first-child {
  width: 120px !important;
  text-align: right !important;
}

/* Align check marks on menu */

.book .book-summary ul.summary li i.fa-check {
  top: 8px !important;
}

/* Enterprise styles */

.book .book-body .page-wrapper .page-inner section.normal .page-footer .next {
  text-align: right;
}

.book .book-body .page-wrapper .page-inner section.normal .page-footer {
  margin-top: 50px;
}
