h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol,
li,
table,
td,
dl,
dt,
dd,
footer,
input,
.book .book-body .page-wrapper .page-inner section.normal a.btn {
  font-family: "proxima-nova", "Proxima Nova", "Helvetica Neue", sans-serif;
}

img {
  margin: 0 auto;
  display: block;
}

.book .book-body .page-wrapper .page-inner #book-search-results p,
.book .book-body .page-wrapper .page-inner section.normal p,
.book .book-body .page-wrapper .page-inner section.normal ul,
.book .book-body .page-wrapper .page-inner section.normal ol,
.book .book-body .page-wrapper .page-inner section.normal li {
  font-family: "freight-text-pro", Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: 400;
}

.markdown-section a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.book .book-body .page-wrapper .page-inner section.normal h2 {
  margin-top: 2em;
}

.book .book-body .page-wrapper .page-inner section.normal .quiet {
  color: #aaa;
}

.book .book-body .page-wrapper .page-inner section.normal .quiet a {
  color: #aaa;
  text-decoration: underline;
}

.book .book-body .page-wrapper .page-inner section.normal img {
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 0 0 15px rgba(0,0,0,0.05);
}

.book .book-body .page-wrapper .page-inner section.normal .small img {
  max-width: 100%;
  width: 600px;
}

.book .book-body .page-wrapper .page-inner section.normal .plain,
.book .book-body .page-wrapper .page-inner section.normal .plain img {
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.book .book-body .page-wrapper .page-inner section.normal .plain,
.book .book-body .page-wrapper .page-inner section.normal img {
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.book .book-body .page-wrapper .page-inner section.normal pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.book .book-body .page-wrapper .page-inner section.normal pre>code {
  font-size: 100%;
}

.book .book-body .page-wrapper .page-inner section.normal .welcome-block {
  min-height: 200px;
  text-align: center;
}

.book .book-body .page-wrapper .page-inner section.normal .welcome-block .hero-content {
  padding-top: 50px;
}

.book .book-body .page-wrapper .page-inner section.normal .welcome-block .hero-content h1 {
  color: #333;
  margin: 0 10%;
  text-align: center;
  border-bottom: none;
}

.book .book-body .page-wrapper .page-inner section.normal .welcome-block .hero-content h2 {
  border-bottom: none;
  margin-top: 0;
}

.book .book-body .page-wrapper .page-inner section.normal .welcome-block .btn {
  border: none;
  color: #fff;
  background-color: #009ddc;
  display: inline-block;
  margin: 1em 0;
  padding: 0.5em 2em;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  border-radius: 500px;
  margin-bottom: 50px;
}

.book .book-body .page-wrapper .page-inner section.normal .btn {
  border: none;
  color: #fff;
  background-color: #009ddc;
  display: inline-block;
  margin: 1em 0;
  padding: 1em 0;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  //text-transform: uppercase;
  white-space: wrap;
  border-radius: 5px;
  margin-bottom: 50px;
  width: 100%;
}

.book .book-body .page-wrapper .page-inner section.normal table .icon {
  text-align: center;
}

/* ---- */

[href="https://www.gitbook.com/book/kumu/docs"],
.book .book-header h1,
.book .book-header .toggle-search,
.book .book-header .font-settings,
.book .book-header #font-settings-wrapper {
  display: none !important;
}

/* search always visible for us */
.book .book-summary ul.summary {
  top: 0 !important;
}

.book .book-summary ul.summary li.divider {
  display: none !important;
}

.book .book-summary #book-search-input {
  z-index: 1;
  top: 0;
  padding: 12px 15px;
  color: #777;
  //background-color: #2d3134;
  opacity: 0.95;
  margin-bottom: 0;
}

.book .book-summary #book-search-input input,
.book .book-summary #book-search-input input:focus,
.book .book-summary #book-search-input input:hover {
  padding: 3px 0px;
  background: none;
  //background-color: rgba(255, 255, 255, 0.01);
  //border-radius: 50px;
}

.summary > .chapter {
  margin: 0;
}

.chapter b {
  font-size: 0.8em;
}

.book .book-summary {
  color: #333;
  //background: #2d3134;
}

.book-summary ul.summary li.header {
  padding-bottom: 0;
}

.book .book-summary ul.summary li a,
.book .book-summary ul.summary li span {
  padding: 2px 15px;
  color: #333;
  //font-size: 12px;
  //font-weight: bold;
  //text-transform: uppercase;
}

.book .book-summary ul.summary li.done > a {
  color: #777;
  font-weight: bold;
}

.book .book-summary ul.summary li.active > a,
.book .book-summary ul.summary li a:hover {
  color: #0099e5;
}

.book .book-summary ul.summary li i.fa-check {
  color: inherit;
}


/* force anchors to always be visible */
a.plugin-anchor {
  display: inline-block !important;
  position: relative;
  float: right;
  margin: 0;
  padding: 0 10px;
  line-height: 1em;
  color: #ccc !important;
}

a.plugin-anchor:hover,
a.plugin-anchor:active {
  color: inherit !important;
}

a.plugin-anchor span {
  margin: 0;
}

/* property table */

table.property-reference {
  width: 100%;
}

.property-reference tr td {
  width: 25%;
}

.property-reference td:first-child {
  text-align: left;
}

.property-reference td {
  text-align: center;
}

.property-reference code {
  color: #333;
}

/* controls reference table */

table.controls-reference {
  width: 100%;
}

.controls-reference td:first-child {
  text-align: left;
}

.controls-reference td {
  text-align: center;
}

.controls-reference code {
  color: #333;
}

/* pricing plan table */

table.plan-table {
  width: 70%;
}

table.plan-table tr *:not(:first-child) {
  text-align: right;
}

table.plan-table tr td:not(:first-child) {
  font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
}

/* borderless table */

.borderless.table tr,
.borderless.table th,
.borderless.table td,
.borderless.table pre {
    border: none;
}

/* border-bottom table */

/* .border-bottom.table td {
    vertical-align: middle;
} */

.border-bottom.table td,
.border-bottom.table th {
    background-color: #fff;
    border: none;
}

.border-bottom.table tr:first-child {
    border: none;
}

.border-bottom.table tr:nth-child(2) {
    border-width: 2.5px;
}

.border-bottom.table pre {
    border: none;
}

/* table search boxes */

.search-box {
    width: 100%;
    padding: 5px 10px 5px 10px;
    margin-bottom: .85em;
    border: none;
    border-left: 2px solid #ccc;
}

.search-box:focus {
    outline: none;
}

/* inputs formatted like code */

.input-code {
  font-size: .85em;
  background-color: #f7f7f7;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

/* keystrokes */

.shortcuts {
    margin: 0;
    padding: 0;
    list-style: none;
}

.shortcut {
  margin-bottom: 3px;
}

.shortcut .keystroke {
    display: inline-block;
    padding: 3px 5px;
    color: #fff;
    background-color: #444;
    border-radius: 3px;
    font-family: courier;
    text-transform: uppercase;
  }

/* tooltips */

.tooltip {
  font-size: 14px;
}

.tooltip-inner {
  max-width: 200px;
  padding: 6px 10px;
  color: #ffffff;
  text-align: center;
  background-color: #000000;
  border-radius: 4px;
}

.tooltip code {
  color: #BA462F !important;
}

/* Github edit links */

.edit-link {
  float: right;
  font-size: 14px;
}

.book .book-body .page-wrapper .page-inner section.normal .edit-link a {
  color: #bbb;
}

/* Color scales */

.color-scale table td, .color-scale table tr {
  border: none !important;
}

.book .book-body .page-wrapper .page-inner section.normal .color-scale table tr:nth-child(2n) {
  background-color:#fff;
}

.book .book-body .page-wrapper .page-inner section.normal .color-scale table .spacer td {
  padding: 0;
}

.book .book-body .page-wrapper .page-inner section.normal .color-scale table td {
  padding:8px 9px;
}

.color-scale td:first-child {
  width: 120px !important;
  text-align: right !important;
}

/* Align check marks on menu */

.book .book-summary ul.summary li i.fa-check {
  top: 8px !important;
}

/* Enterprise styles */

.book .book-body .page-wrapper .page-inner section.normal .page-footer .next {
  text-align: right;
}

.book .book-body .page-wrapper .page-inner section.normal .page-footer {
  margin-top: 50px;
}

/* Expandable chapters style override */

/*
.book .book-summary .exc-trigger {
  position: relative !important;
  top: 0;
  left: 4px;
}
*/

/* Search results customizations */
.powered-by-algolia {
  text-align: center;
}


#book-search-results .search-results ul.search-results-list li {
    margin-bottom: 3.5rem;
}

#book-search-results .search-results .search-results-title {
    text-transform: none;
    font-weight: 700;
    opacity: 1;
    color: #333;
    text-align:left;
    font-size: 32px;
    margin-top: 0;
}

#book-search-results .search-results .no-results {
  padding-top: 0;
}

/* Welcome styling */
.guide-tile {
  background: #fff;
  border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border: 1px solid #d8d8d8;
  margin-bottom: 20px;
}

.guide-tile a.plugin-anchor {
  visibility: hidden;
  position: absolute;
}

.guide-tile h3, .guide-tile p, .guide-tile ul {
  margin-left: 15px;
  margin-right: 15px;
}

.guide-tile h3 {
  margin-bottom: 10px;
  margin-top: 24px;
}

.guide-tile p {
  font-size: 14px;
  line-height: 22px;
}

.guide-tile ul {
  color: #1aafd0;
  font-size: 16px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.guide-tile li {
  padding: 10px 10px 10px 15px;
  margin: 0;
  border-top: 1px solid #edf0f0;
  line-height: 25px;
}

.guide-tile li a {
  padding-left: 35px;
  position: relative;
  display: block;
  line-height: 20px;
  font-size: 16px !important;
  font-family: "proxima-nova", "Proxima Nova", "Helvetica Neue", sans-serif !important;
}


.guide-tile .fa {
  font-size: 22px;
  position: absolute;
  left: 0;
  top: 0;
  text-decoration: none!important;
}

/* Fitvid.js video tweaks */

embed,
iframe,
object {
	max-width: 100%;
}

video {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.fluid-width-video-wrapper {
  width:100%;
  position:relative;
  padding:0;
}

.fluid-width-video-wrapper iframe, .fluid-width-video-wrapper object, .fluid-width-video-wrapper embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.alert-link {
  font-weight: 600 !important;
  text-decoration: underline !important;
}

.alert-link:hover {
  opacity: .75;
}

.alert-sm {
  display: inline-block;
  width: auto;
  padding: 5px;
  line-height: 1;
  font-family: "Proxima Nova", Helvetica, Arial, sans-serif !important;
}

.custom-link {
  display: none !important;
}


/* FAQ guides hidden in menu */

/*li[data-level^="1.3.1"] {
  display: none;
}*/
